.space-top {
    margin-top: 50px;
}

.comment {
    border-left: 4px solid var(--accent);
    padding-left: 1rem;
    margin: 2rem 0;
    border-radius: var(--radius);
    box-shadow: 0 3px 12px var(--shadow);
}

.profile-img {
    width: 48px; height: 48px;
    border: 2px solid var(--primary);
}

.comment-text {
    max-height: 140px;
    overflow-y: auto;
    padding-right: .5rem;
}

.delete-button {
    text-decoration: none;
}

.space-top-comment {
    margin-top: 120px
}